In [1]:
import pandas as pd

In [25]:
futbol = pd.read_html('https://es.wikipedia.org/wiki/Copa_Mundial_de_F%C3%BAtbol_de_2022')

In [26]:
futbol[8]

      Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
0  Países Bajos    7   3   2   1   0   5   1   4
1       Senegal    6   3   2   0   1   5   4   1
2       Ecuador    4   3   1   1   1   4   3   1
3         Catar    0   3   0   0   3   1   7  –6

In [27]:
futbol[15]

        Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
0      Inglaterra    7   3   2   1   0   9   2   7
1  Estados Unidos    5   3   1   2   0   2   1   1
2            Irán    3   3   1   0   2   4   7  –3
3           Gales    1   3   0   1   2   1   6  –5

In [31]:
futbol[8].columns

Index(['Selección', 'Pts', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'Dif'], dtype='object')

In [23]:
#tablas de 7 en 7. grupo A al H = 8 grupos

In [50]:
grupo = 'ABCDEFGH'

In [53]:
tabla_grupo = {}
for letra, i in zip(grupo, range(8,64,7)):
    tabla_grupo[f'Grupo {letra}'] = futbol[i]

In [54]:
tabla_grupo

{'Grupo A':       Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0  Países Bajos    7   3   2   1   0   5   1   4
 1       Senegal    6   3   2   0   1   5   4   1
 2       Ecuador    4   3   1   1   1   4   3   1
 3         Catar    0   3   0   0   3   1   7  –6,
 'Grupo B':         Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0      Inglaterra    7   3   2   1   0   9   2   7
 1  Estados Unidos    5   3   1   2   0   2   1   1
 2            Irán    3   3   1   0   2   4   7  –3
 3           Gales    1   3   0   1   2   1   6  –5,
 'Grupo C':         Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0       Argentina    6   3   2   0   1   5   2   3
 1         Polonia    4   3   1   1   1   2   2   0
 2          México    4   3   1   1   1   2   3  –1
 3  Arabia Saudita    3   3   1   0   2   3   5  –2,
 'Grupo D':    Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0    Francia    6   3   2   0   1   6   3   3
 1  Australia    6   3   2   0   1   3   4  –1
 2      Túnez    4   3   1   1   1   1   1   0
 3  Dinamarca    1   3   0   1   2   1   3  –2,
 'Grupo E':     Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0       Japón    6   3   2   0   1   4   3   1
 1      España    4   3   1   1   1   9   3   6
 2    Alemania    4   3   1   1   1   6   5   1
 3  Costa Rica    3   3   1   0   2   3  11  –8,
 'Grupo F':    Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0  Marruecos    7   3   2   1   0   4   1   3
 1    Croacia    5   3   1   2   0   4   1   3
 2    Bélgica    4   3   1   1   1   1   2  –1
 3     Canadá    0   3   0   0   3   2   7  –5,
 'Grupo G':   Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0    Brasil    6   3   2   0   1   3   1   2
 1     Suiza    6   3   2   0   1   4   3   1
 2   Camerún    4   3   1   1   1   4   4   0
 3    Serbia    1   3   0   1   2   5   8  –3,
 'Grupo H':        Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0       Portugal    6   3   2   0   1   6   4   2
 1  Corea del Sur    4   3   1   1   1   4   4   0
 2        Uruguay    4   3   1   1   1   2   2   0
 3          Ghana    3   3   1   0   2   5   7  –2}

In [56]:
tabla_grupo['Grupo B']

        Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
0      Inglaterra    7   3   2   1   0   9   2   7
1  Estados Unidos    5   3   1   2   0   2   1   1
2            Irán    3   3   1   0   2   4   7  –3
3           Gales    1   3   0   1   2   1   6  –5