In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
years=[1930, 1934, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018, 2022]

In [3]:
def get_matches(year):
    web= f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response=requests.get(web)
    content =response.text
    soup = BeautifulSoup(content, 'lxml')
    
    matches = soup.find_all('div', class_='footballbox')
    
    home=[]
    score=[]
    away=[]
    for match in matches:
        home.append(match.find('th', class_='fhome').get_text())
        score.append(match.find('th', class_='fscore').get_text())
        away.append(match.find('th', class_='faway').get_text())
        
    dict_football={'home': home ,'score': score, 'away': away}
        
    df_football = pd.DataFrame(dict_football)
        
    df_football['year'] = year
        
    return df_football

In [4]:
get_matches(2006)

         home         score         away  year
0    Germany            4–2   Costa Rica  2006
1     Poland            0–2      Ecuador  2006
2    Germany            1–0       Poland  2006
3    Ecuador            3–0   Costa Rica  2006
4    Ecuador            0–3      Germany  2006
..        ...           ...          ...   ...
59    Brazil            0–1       France  2006
60   Germany   0–2 (a.e.t.)        Italy  2006
61  Portugal            0–1       France  2006
62   Germany            3–1     Portugal  2006
63     Italy   1–1 (a.e.t.)       France  2006

[64 rows x 4 columns]

In [5]:
'''for year in years:
    get_matches(year)
   en una linea este codigo queda asi:
   ''' 
fifa = [get_matches(year) for year in years]
df_fifa= pd.concat(fifa, ignore_index=True)
df_fifa.to_csv('fifa-historical-data.csv', index=False)

In [6]:
  ''' 
    web= 'https://en.wikipedia.org/wiki/2014_FIFA_World_Cup'
    response=requests.get(web)
    content =response.text
    soup = BeautifulSoup(content, 'lxml')
    
    matches = soup.find_all('div', class_='footballbox')
    
    home=[]
    score=[]
    away=[]
    for match in matches:
        home.append(match.find('th', class_='fhome').get_text())
        score.append(match.find('th', class_='fscore').get_text())
        away.append(match.find('th', class_='faway').get_text())
        
        dict_football={'home': home ,'score': score, 'away': away}
        
        df_football = pd.DataFrame(dict_football)
df_football['year'] = '2014'

print(df_football)
'''

" \n  web= 'https://en.wikipedia.org/wiki/2014_FIFA_World_Cup'\n  response=requests.get(web)\n  content =response.text\n  soup = BeautifulSoup(content, 'lxml')\n  \n  matches = soup.find_all('div', class_='footballbox')\n  \n  home=[]\n  score=[]\n  away=[]\n  for match in matches:\n      home.append(match.find('th', class_='fhome').get_text())\n      score.append(match.find('th', class_='fscore').get_text())\n      away.append(match.find('th', class_='faway').get_text())\n      \n      dict_football={'home': home ,'score': score, 'away': away}\n      \n      df_football = pd.DataFrame(dict_football)\ndf_football['year'] = '2014'\n\nprint(df_football)\n"